# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^(helm|contrib)/
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        args: ['-s']  # Apply simplifications
        files: ^(cmd|pkg)/.*\.go$
      - id: go-mod-tidy
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: go-vet
        name: go-vet
        entry: bash -c 'go vet ./cmd/... ./pkg/...'
        language: system
        pass_filenames: false
        always_run: true

      - id: go-test
        name: go-test
        entry: bash -c 'go test -v ./...'
        language: system
        pass_filenames: false
        always_run: true

      - id: commit-msg-length
        name: check commit message length
        entry: bash -c 'if [ $(head -n1 "$1" | wc -c) -gt 73 ]; then echo "Commit message header exceeds 72 characters"; exit 1; fi'
        language: system
        stages: [commit-msg]
        always_run: true

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          - feat
          - fix
          - docs
          - style
          - refactor
          - perf
          - test
          - chore
          - ci
          - build
          - revert
